/* .countdown-container {
    text-align: center;
    background-color: #000000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .countdown-timer {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
  } */
  
  /* .circle-container {
    margin: 20px auto;
  }
  
  .circle-background {
    fill: none;
    stroke: transparent;
    stroke-width: 4;
  }
  
  .circle-progress {
    fill: none;
    stroke: #ffffff;
    stroke-width: 4;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 1s linear;
  }
  
  .circle-cover {
    fill: none;
    stroke-width: 4;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 1s linear, stroke 1s linear;
  } */